@model NoticeWithoutShit.Models.Account.LoginViewModel
    <div class="main-frame">
        <div style="padding: 10px; text-align:center;">
            <h2>Вход без х$*ни</h2>
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div style="width: 400px; margin: auto;">
                    <label asp-for="Email">&nbsp;&nbsp;&nbsp;Email:</label>
                    <input asp-for="Email" />
                    <br />
                    <span style="color: red" asp-validation-for="Email"></span>
                </div>
                <div>
                    <label asp-for="Password">Пароль:</label>
                    <input asp-for="Password" />
                    <br />
                    <span style="color: red" asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                </div>
                <div>
                    <input type="submit" value="Войти" />
                </div>
            </form>
            <p style="text-align: center"><img src="https://www.vtb.ru/-/media/headlesscms/personal/online-servisy/page-vtb-online-login/vtb-online-login.png" /></p>
            </div></div>