@{
    ViewData["Title"] = "О нашем УНИКАЛЬНОМ сервисе!";
}
<div class="main-frame">
    <div style="padding: 10px;">
        <h1 style="text-align: center">@ViewData["Title"]</h1>

        <p>Мы рады приветствовать Вас на сайте нашего супер сервиса!&nbsp;</p>
        <p>Наша компания начала работу 2 дня назад, запустив этот сайт началась история нашего сервиса без х$*и. В далеком ПОЗАВЧЕРА это был пустой сервис без ничего.... куда уж там - это было не БЕЗ или С - это была просто Х$*НЯ, но с большим желанием вырасти в большую БЕЗ. </p>
        <p>Так и случилось. Прошло&nbsp;2 дня и мы уже можем смело сказать, что работали не зря. </p>
        <p>В вчера были поставлены 2 цели: </p>
        <blockquote style="MARGIN-RIGHT: 0px" dir="ltr">
            <p>1. <strong>У нас не будет никакой х$*и</strong>. А если и будет - то МЫ всегда будем утверждать, что так задуманно и на самом деле - это очень хорошо!!!</p>
            <p>2. <strong>Благодаря нашей технологии - "Публичные заметки", </strong>мы позволим анонимно (почти) обмениваться тайными сообщениями. Вы можете зашифровать в тексте любой месседж и опубликовать его, до момента пока Ваш адрессат его не прочтет </p>
        </blockquote>
        <p>У нас заключены договоры со всеми крупнейшими анонимными диллерами(для обмена сообщениями) и склеротиками(для напоминания самим себе).</p>
        <p>Только у НАС Вы можете:<p>
        <ul>
            <li>Создавать категории</li>
            <li>Присваивать категориям цвет</li>
            <li>Задавать цвет тексту заметок</li>
            <li>В одно нажатие очищать как весь список заметок, так и Архив</li>
            <li>Выставлять время жизни заметок</li>
            <li>Отмечать и перемещать в Архив - выполненные заметки</li>
            <li>Говорить вслух про НАС всякие гадости... Мы не в обиде!!!</li>

        </ul>
        
        <p>&nbsp;</p></blockquote>
        <p style="text-align: center"><img src="http://risovach.ru/upload/2013/05/mem/mne-kazhetsya-ili-frai-futurama_18183612_orig_.jpg" /></p>
    </div>
    <div></div>
    </div>