<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="firstNameInput" class="form-label">Название:</label>
            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Введите имя книги...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Жанр:</label>
            <input type="text" name="genre" class="form-control" id="genreInput" placeholder="Введите жанр книги...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Авторы:</label>
            <input type="text" name="authors" class="form-control" id="authorsInput" placeholder="Введите автора(ов) книги...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Количество страниц:</label>
            <input type="number" name="countPages" class="form-control" id="countPagesInput" placeholder="Введите количество страниц книги...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Издательство:</label>
            <input type="text" name="publishOffice" class="form-control" id="publishOfficeInput" placeholder="Введите издательство книги...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Год издания:</label>
            <input type="number" name="publishYear" class="form-control" id="publishYearInput" placeholder="Введите год издания книги...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Количество (книг):</label>
            <input type="number" name="count" class="form-control" id="countInput" placeholder="Введите количество книг...">
        </div>
        <div class="mb-3">
            <label for="lastNameInput" class="form-label">Цена:</label>
            <input type="number" name="cost" class="form-control" id="costInput" placeholder="Введите цену книги...">
        </div>
        <button class="btn btn-primary">Добавить</button>
    </form>
</div>